{{> menu active="about"}}

<section class="section">
  <h1 class="is-size-4">Contact Details:</h1>
  <p>Name: Michael O'Driscoll</p>
  <p>Email: venuely@gmail.com</p>
  <p>Phone: +3530889380361</p>
</section>
