{{> menu active="settings"}}

<section class="section">
  <h1 class="title">Settings</h1>
  <form action="/update" method="POST">
    <label class="label">Name</label>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <input class="input" type="text" placeholder="{{userName}}" name="firstName">
        </div>
        <div class="field">
          <input class="input" type="text" placeholder="{{userSurname}}" name="lastName">
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Email</label> <input class="input" type="text" placeholder="{{userEmail}}" name="email">
    </div>
    <div class="field">
      <label class="label">Password</label> <input class="input" type="password" placeholder="Enter Password" name="password">
    </div>
    <div class="field is-grouped">
      <button class="button is-primary">Update</button>
    </div>
  </form>
</section>