

  <form action="/dashboard/addvenue" method="POST" enctype="multipart/form-data">
  
<div class="field is-horizontal">
    <div class="field-body">

      <div class="field">
        <label class="label">Venue</label>
      <input class="input" type="text" placeholder="Enter venue name" name="title">
      </div>

        <div class="field">
          <label class="label">Description</label>
      <input class="input" type="text" placeholder="Enter description" name="description">
        </div>

      <div class="field">
        <label class="label">Latitude</label>
        <input class="input" type="text" placeholder="Enter latitude" name="latitude">
      </div>

      <div class="field">
        <label class="label">Longitude</label>
        <input class="input" type="text" placeholder="Enter longitude" name="longitude">
      </div>

      <div class="field">
        <label class="label">Capacity</label>
      <div class="select">
          <select name="capacity">
            <option value ="Small">Small</option>
            <option value ="Medium">Medium</option>
            <option value ="Large">Large</option>
          </select>
        </div>
      </div>

        <div class="field">
          <label class="label">Image</label>
        <div id="file-select" class="file has-name is-fullwidth">
          <label class="file-label"> <input class="file-input" name="imagefile" type="file" name="resume" accept="image/png, image/jpeg">
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
            </span>
          </label>
        </div>
        </div>

      <div class="field">
        <label class="label has-text-white">Button</label>
        <button class="button is-primary">Add venue</button>
      </div>

    </div>
</div>

  </form>
