<form class="box" action="/venue/{{venue._id}}/addinfo" method="POST">
  <label>Enter Band Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Band" name="artist">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Ticket Price" name="price">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Date (DD-Mmm-YYYY)" name="date">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Genre" name="genre">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Event</button>
</form>
