
  <form action="/dashboard/addvenue" method="POST">
    <div class="field">
      <label class="label">Venue</label>
      <input class="input" type="text" placeholder="Enter venue title" name="title">
    </div>
    <button class="button is-link">Add venue</button>
  </form>
