<div class="box box-link-hover-shadow">

<div id="mapWrap"></div>
</div>

<style>
#mapWrap {
    width: 100%;
    height: 400px; 
}    
</style>

<script>

const map = L.map('mapWrap').setView([53.349805, -6.26031], 6);

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png?{foo}', {
    foo: 'bar',
    minZoom: 2,
    attribution:'&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'}
).addTo(map);

{{#each venues}}
    marker = new L.marker(
        [{{latitude}}, {{longitude}}]
    )
    .addTo(map)
    

marker.on('click', function(mrk) {
        window.location.replace("/venue/{{_id}}");
        });
  
  marker.on('dblclick', function(mrk) {
        
        map.setView(
            [
                mrk.latlng.lat,
                mrk.latlng.lng
            ],
            14
        );
        });
      
    
{{/each}}
</script>